html {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: sans-serif;
}
.u-body {
    font-family: 'Open Sans',sans-serif;
    line-height: 1.6;
    position: relative;
    height: auto;
    min-height: 100%;
    margin: 0;
    box-sizing: border-box;

}
header {
    display: block;
}