{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Formal Verification</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
  </style>
</head>

<body>
  <div id="wrapper">
    <nav>
      <ul>
        <li>首页</li>
        <li>1</li>
        <li>2</li>
        <li class="active">3</li>
      </ul>
    </nav>

    <div class="sub">
      <h1>Formal Verification</h1>
      <p>some words here blablabla</p>
      <p>another one</p>
      <a class="btn sub" href="{% url 'upload' %}">Test Your File</a>
    </div>
    <footer>
      <p>中国科学技术大学网络安全实验室</p>
    </footer>
  </div>
</body>

</html>