{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" class="u-responsive-xl"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Defect Prediction</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
</style>
</head>
  <body class="u-body">
    <nav>
      <ul>
        <li>Main</li>
        <li>1</li>
        <li>2</li>
        <li class="active">3</li>
      </ul>
    </nav>

      <section>
        <div class="main">
          <h1>Defect Prediction</h1>
          <p>some words here blablabla</p>
          <p>another one</p>
          </div></section>
          <footer>
            <p>Sample text121</p>
          </div></footer>
    </body></html>
