{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>FM</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
</head>

<body>
  <div id="wrapper">
    <nav>
      <ul>
        <li><a href="{% url 'main' %}">首页</a></li>
        <!-- <li>1</li>
        <li>2</li>
        <li>3</li> -->
      </ul>
    </nav>
    <div class="main">
      <!-- <h4>Features</h4> -->
      <h1>协议形式化分析系统</h1>
      <div class="list">
        <div class="repeat">
          <div class="block">
            <div class="container">
              <img src="{% static 'files/users-with-speech-bubbles-vector_53876-82250.jpg' %}" alt="pic 1"
                data-image-width="626" data-image-height="625">
              <h4 class="header">协议形式化建模分系统</h4>
              <!-- <p>TBD</p> -->
              <a class="btn" href="{% url 'formal verification' %}">进入</a>
            </div>
          </div>
          <div class="block">
            <div class="container">
              <img src="{% static 'files/fdf.jpg' %}" alt="pic 2" data-image-width="626" data-image-height="625">
              <h4 class="header">协议形式化验证分系统</h4>
              <!-- <p>TBD</p> -->
              <a class="btn" href="{% url 'defect prediction' %}">进入</a>
            </div>
          </div>
          <div class="block">
            <div class="container">
              <img src="{% static 'files/dsds.jpg' %}" alt="pic 3" data-image-width="626" data-image-height="626">
              <h4 class="header">协议缺陷检测分系统</h4>
              <!-- <p>TBD</p> -->
              <a class="btn" href="{% url 'defect detection' %}">进入</a>
            </div>
          </div>
          <div class="block">
            <div class="container">
              <img src="{% static 'files/fdf.jpg' %}" alt="pic 2" data-image-width="626" data-image-height="625">
              <h4 class="header">协议缺陷预测分系统</h4>
              <!-- <p>TBD</p> -->
              <a class="btn" href="{% url 'defect prediction' %}">进入</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <footer>
      <p>中国科学技术大学网络安全实验室</p>
    </footer>
  </div>
</body>

</html>