{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>upload</title>
  <link rel="stylesheet" href="{% static 'css/codemirror.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'css/upload.css' %}">
  <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/codemirror.js' %}"></script>
  <script src="{% static 'js/simple.js' %}"></script>
</head>

<body>
  <div id="wrapper">
    <nav>
      <ul>
        <li><a href="{% url 'main' %}">首页</a></li>
      </ul>
    </nav>

    <div class="sub">
      <h1>协议形式化建模</h1>
      <form class="upload-new form" method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
        <table align="center">
          <tbody>
            <tr>
              <td valign="top">
                <b>Select Protocol</b>
                <p class="wrap">{{ form.select }}</p>
                <p class="wrap">
                  <button type="submit" value="load model" class="upload-new upload-btn">协议加载</button>
                  <!-- <button type="submit" value="add" class="upload-new upload-btn">协议上传</button> -->
                  <button type="submit" value="delete" class="upload-new upload-btn">协议删除</button>
                </p>
              </td>
              <td valign="top">
                <b>上传文件 {{ form.file }}</b>
                <button type="submit" value="add" class="upload-new upload-btn">协议上传</button> 
                {{ form.text }}
                <p class="wrap"><button type="submit" value="verification" class="upload-new upload-btn">协议验证</button>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>SmartVerif text output</b>
                <p>
                <textarea id="v-result" rows="20" cols="125"></textarea>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <script src="{% static 'js/tamarin.js' %}"></script>
        <script src="{% static 'js/upload.js' %}"></script>
      </form>
    </div>
    <footer>
      <p>中国科学技术大学网络安全实验室</p>
    </footer>
  </div>
</body>

</html>