{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Starbuzz Bean Machine</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
  </head>
  <body>
    <nav>
      <ul>
        <li class="active">Main</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </nav>

  <div class="main">
    <h1>The Starbuzz Bean Machine</h1>
    <h2>Fill out the form below and click "order now" to order</h2>

    <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="whattt">
    </form>
  </div>
  </body>
</html>

